.p-proposta {
    font-size: 14px;
    color: #083f7a;
    font-weight: 400;
    margin: 5px 0;
    padding: 1px;
    
}


.h3-proposta{

    font-size: 20px;
    color: #2F4B7C;
    margin-bottom: 10px;
    margin: 10px 0;
    padding: 0;
}

.h2-proposta {
    padding:0;
    margin: 0;
    font-size: 22px;
    color: #2F4B7C;
    font-weight: 700;
    border-bottom: 2px solid #2F4B7C;
    height: 40px;
}
.p-tabela-titulo {

    font-size: 12px;
    font-weight: 700;
    color: black;
    padding: 6px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.p-tabela-titulo-2 {

          font-size: 12px;
        color: black;
        padding-left: 5px;
        margin: 0;

}
.bold {

    font-weight: 700;
}