.section-tabela {

    display: flex;
    align-items: center;
    justify-content: center ;
    height: 50%;
    width: 100%;
     padding: 1rem;
}
.tabela{
   
    border-collapse: collapse;
    width: 80%;
    
}
.tabela-linha {

    height: 20px;
    width: 240px;
}
.tabela td{
    border: 1px solid #0b3b82;
    
}

