.section-tabela {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}
.tabela{
    
    border-collapse: collapse;
    width: 80%;
    
}
.tabela-linha {

    height: 44px;
    width: 240px;
}
.tabela td{
    border: 1px solid #0b3b82;
    
}

td p {

    width: 200px;
    text-align: justify;
    font-size: 12px;    
    display: flex;
    color: #0b3b82;
    padding-left: 10px;
    font-weight: 700;
}