

.menor {

    margin-top: 10px;
    font-size: 12px;
}
.vertical {

    flex-direction: column;
}
.amarelo{

    color: #FFC107;
    font-weight: 700;
}
.p-proposta-m {

    color: #2F4B7C;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.underline {

    width: 450px;
    border: 0.5px solid #083f7a;
    align-self: center;
    border-width: 0.3px;
}

.center {

    align-self: center;
}

.nomargin {

    margin: 0;
}

.backgroundIMG {

    padding: 44px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}
.mover {
    position: relative;
    top: -290px;
    right: 240px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 30;
}
.mover1 {
    position: relative;
    top: -310px;
    right: -240px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 10;
}


.p-problema {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    top: 180px;
    right: -10px;
    color: red;
    font-weight: 700;
    font-size: 14pt;
    border: 2px solid #083f7a;
    height: 45px;
    width: 180px;
    border-radius: 5px;
}

.p-solucao {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    top: 130px;
    left: 445px;
    color: rgb(117, 230, 102);
    font-weight: 700;
    font-size: 14pt;
    border: 2px solid #083f7a;
    height: 45px;
    width: 180px;
    border-radius: 5px;

}
.p-valorFinal {

    position: relative; 
    display: flex;
    margin: 0;
    padding: 0;
    top: 470px;
    left: 445px;
    color: #083f7a;
    font-weight: 700;
    font-size: 14pt;
    border: 2px solid #083f7a;
    height: 45px;
    border-radius: 5px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-valorEconomia {

    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    top: 680px;
    border: 2px solid #083f7a;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
    color: #083f7a;

}
.p-cartaoCredito {

  position: relative; 
    display: flex;
    margin: 0;
    padding: 0;
    top: 375px;
    left: 5px;
    color: #083f7a;
    font-weight: 700;
    font-size: 14pt;
    border: 2px solid #083f7a;
    height: 45px;
    border-radius: 5px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}
.bold {
    font-weight: 700;
}
.div-underline {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.espaco {

    gap: 20px;
    display: flex;
    height: 90%;
    flex: 1;
    align-items: flex-start;

}