.p-login {

    font-size: 14px;
    color: gray;
    padding: 0;
    margin-bottom: 16px;
    font-weight: 300;
    width: 260px;
    text-align: center;
}

.h1-login {
    font-size: 16px;
    color: #273c75;
    padding: 0;
    margin: 10px 0;
}
.p-error {

    color: #e74c3c;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.apagar {

    display: none;
}