.nav-proposta{
    display: flex;
}
.nav-dashboard{
    display: flex;
}
.nav-historico{
    display: flex;
}
.nav-banco{
    display: flex;
}
.nav-config{
    display: flex;
}
.nav-perfil{
    display: flex;
}


.item-selecionado {

    background-color: white;

}
.item-selecionado i,
.item-selecionado p {

    font-weight: 500;
    color: #273c75;
    
}