.branco {
    color: white;
}
.border-branco {

    border: 1px solid white
}
.amarelo{
    background-color: #ffb200;
}
.esconder {

    display: none;
}
.ajuda-container {

    z-index: 999;
    position: relative;
    height: 80px;
    width: 240px;
}

.selecionado {

    background-color: white;
}
.selecionadoTag {

    color:  #273c75;
    
}