.card-nav-plataforma {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  padding: 12px;
  transition: all 0.3s ease;
}

.card-1 {
  grid-row: 1/7;
  grid-column: 1/2;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.card-2 {
  grid-row: 7/10;
  grid-column: 1/2;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.card-3 {
  grid-row: 1/6;
  grid-column: 2/3;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.card-4 {
  grid-row: 6/7;
  grid-column: 2/3;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.card-5 {
  grid-row: 7/10;
  grid-column: 2/3;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
