.form-plataforma {
 
  height: 90%;
  width: 100%;
  display: flex;
  padding: 2rem;
  box-sizing: border-box;
  gap: 20px;
 
}
.form-proposta-plataforma{

  width: 70%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.resumo-proposta-plataforma {

  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.resumo-conteudo {

  height: auto;
  width: 100%;
  display: flex;
}
.resumo-chave {
  width: 50%;
}
.resumo-valor {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}