.campo,
.selecao {
  height: 36px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  border: none;
  border: 1px solid gray;
  padding-left: 10px;
}
.campo-grupo {

   display: flex;
   flex-direction: column;
}
.checkbox {
  background-color: yellow;
  border-radius: 10px;
  height: 20px;
  width: 60px;
}
.lb {
  display: flex;
  font-size: 14px;
  padding: 5px;
  color: #2f4b7c;
  font-weight: 500;
}

.show {
  display: block;
}
.hidden {
  display: none !important;
}

.showInput {
  display: flex !important;
}
.label-info {
  display: flex;
  height: 25px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.label-info i {
  color: #2f4b7c;
  cursor: pointer;
}
.erro {
  border: 1px solid red;
}