.main-plataforma  {

    display: flex;
    flex: 1;

    background-color: white;
}
.section-proposta-plataforma{

    display: flex;
    flex: 1;
    flex-direction: column;
}
.cabecalho-plataforma{

    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
    padding: 0 30px;
}
.cabecalho-user {

    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
}
.cabecalho-user-text {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 15px ;
        border-left: 1px solid rgba(128, 128, 128, 0.219);

}
.resumo-chave p {

    font-size: 13px;
    padding: 8px;
    color: gray;
    width: 100%;
  
}
.resumo-chave h4 {

   font-size: 16px;
    padding: 1px;
    font-weight: 700;
    color: #273c75;
    margin-bottom: 10px;
}
.resumo-valor p {

    font-size: 13px;
    padding: 8px;
    color: rgb(37, 37, 37);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.resumo-valor h4 {

    font-size: 16px;
    padding: 1px;
    color: #ffb200;
    font-weight: 700;
        margin-bottom: 10px;

}

.background-escuro {

    background-color: rgba(63, 109, 236, 0.116)
}

