body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Inter';
    background-color: #273c75;
}
.app-login {

    height: 70%;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 22px;
    display: flex;
}
.div-img-login {

    width: 50%;
    height: 100%;
    border-radius: 10px;
}